LLM_BASE_URL=
LLM_API_KEY=
LLM_MODEL_FAST=
LLM_MODEL_REASONING=
LLM_DAILY_LIMIT=20
LLM_TIMEOUT_SECONDS=120
GOOGLE_CSE_ENABLED=false
GOOGLE_CSE_API_KEY=
# 填搜索引擎 ID，不要填 https://cse.google.com/cse?cx=...
GOOGLE_CSE_CX=
GOOGLE_CSE_DAILY_LIMIT=80
SERP_PROVIDER=manual_csv
SERPER_ENABLED=false
SERPER_API_KEY=
SERPER_BASE_URL=https://google.serper.dev
SERPER_DAILY_LIMIT=100
LLM_MODEL_SERP_SUMMARY=${LLM_MODEL_FAST}
LLM_MODEL_COMPETITOR_QUICK=${LLM_MODEL_FAST}
LLM_MODEL_KEYWORD_INTENT=${LLM_MODEL_FAST}
LLM_MODEL_OPPORTUNITY=${LLM_MODEL_REASONING}
LLM_MODEL_FINAL=${LLM_MODEL_REASONING}
GSC_ENABLED=false
GSC_SITE_URL=
GSC_AUTH_MODE=manual_or_service_account
GA4_ENABLED=false
GA4_PROPERTY_ID=
GA4_AUTH_MODE=manual_or_service_account
DATAFORSEO_ENABLED=false
DATAFORSEO_LOGIN=
DATAFORSEO_PASSWORD=
DATAFORSEO_LOCATION_CODE=2840
DATAFORSEO_LANGUAGE_CODE=en
